﻿@model IEnumerable<Practica_Cima_Junio.Models.Facturas>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuarioNavigation.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuarioNavigation.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subtotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subtotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.IdFactura">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.IdFactura">Details</a> |*@
                    <a asp-action="AgregarProducto" asp-route-id="@item.IdFactura">Agregar Producto</a> |
                    <a asp-action="VerFactura" asp-route-id="@item.IdFactura">Ver Factura</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdFactura">Delete</a>

                </td>
            </tr>
        }
    </tbody>
</table>
