﻿@model IEnumerable<Practica_Cima_Junio.Models.FacturaDetalles>

@{
    ViewData["Title"] = "VerFactura";
}

<h2>VerFactura</h2>

<p>
    <b>Nombre:</b>
    @ViewBag.datosFactura.IdUsuarioNavigation.Nombre
    @ViewBag.datosFactura.IdUsuarioNavigation.Apellido

</p><br />
<p>
    <b>Cédula:</b>
    @ViewBag.datosFactura.IdUsuarioNavigation.Cedula
</p>
<br />
<p>
    <b>Dirección:</b>
    @ViewBag.datosFactura.IdUsuarioNavigation.Direccion
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdProductoNavigation.NombreProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdProductoNavigation.NombreProducto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>


            </tr>
        }
        <tr>
            <td align="right">
                Subtotal:
            </td>
            <td>
                <b>@ViewBag.DatosFactura.Subtotal</b>
            </td>
        </tr>
        <tr>
            <td align="right">
                Total:
            </td>
            <td>
                <b>@ViewBag.DatosFactura.Total</b>
            </td>
        </tr>
    </tbody>
</table>
