﻿@model Practica_Cima_Junio.Models.FacturaDetalles

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FacturaDetalles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdFacturaNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdFacturaNavigation.IdFactura)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdProductoNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdProductoNavigation.IdProducto)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdFacturaDetalle" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
