﻿@model Practica_Cima_Junio.Models.FacturaDetalles

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>FacturaDetalles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdFacturaNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdFacturaNavigation.IdFactura)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdProductoNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdProductoNavigation.IdProducto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdFacturaDetalle">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
